menuentry "SOSO DISK" {
        set root=(hd0,1)
        multiboot /boot/kernel
        module /boot/initrd.img
        boot
}

menuentry "SOSO CD" {
	set root=(cd)
	multiboot /boot/kernel
	module /boot/initrd.img
	boot
}
